<% if notice %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <%= notice.html_safe %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<br/>
<br/>
<section class="m-2">
  <div>
    <div class="row w-100 no-gutters justify-content-center py-4">
      <div class="col-md-10 col-lg-9 col-xl-8 p-3">
        <h1 class="display-4 display-4">Build a Link in bio landingpage just for you.</h1>
        <p class="lead">Links, images, colour settings, everything you need to express you</p>
        <a href="/accounts/sign_up" class="btn btn-primary btn-lg">Start now!</a>
      </div>
    </div>
  </div>
</section>
<br/>
<br/>
<br/>
<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">© Maysen Greenwood</p>
    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    </a>
    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
    </ul>
  </footer>
</div>
